.container {
  display: flex;
  justify-content: center;
  padding-top: 8rem;
  height: 100vh;
  width: 100vw;
}

.container p {
padding-bottom: 1rem;
font-size: 2rem;
}
.content {
text-align: center;
}

.content h2 {
padding-bottom: 2rem;
font-size: 3rem;
}

.content form {
padding-bottom: 2rem;
}

.content input {
  width: 25rem;
  font-size: 3rem;
}

.buttonContainer {
  padding-bottom: 1rem;
  
}

.buttonContainer button, .noStyleLink {
  display: block; 
  margin: 0 auto;
  background-color: var(--fontColorAmarelo); 
  color: var(--fontColor);
  border-radius: 7px;
  width: 200px;
  height: 60px;
  box-shadow: 0 8px 5px #07377a3f;
  font-size: 2rem; 
  font-weight: bold;
  cursor: pointer;
}

.buttonContainer button:hover {
  background-color: var(--colorYellowHover);
}

.noStyleLink {
  width: 500px;
  height: 65px;
}

@media (max-width: 768px) {
  .container {
    padding-top: 2rem;
    height: auto; 
  }

  .container p {
    padding-bottom: 0.5rem;
  }

  .content input {
    width: 80%;
    font-size: 2rem;
  }

  .content {
    padding: 0.5rem;
  }

  .content h2 {
    font-size: 1.5rem; 
    padding-bottom: 1rem; 
  }

  .content form {
    padding-bottom: 1rem; 
  }

  .content p {
    font-size: 20px;
  }

  .buttonContainer {
    padding-bottom: 0.5rem;
    
  }

  .buttonContainer button {
    width: 20%; 
    height: 2rem;
    font-size: 0.8rem; 
  }

  .buttonContainer button:hover {
    background-color: var(--colorYellowHover); 
  }

  .noStyleLink {
    width: 50%; 
    height: 2rem;
    font-size: 0.8rem;
  }
}
